<div class="container">


    <table>
        <thead>
        <tr>
            <th>Pending Tasks</th>
        </tr>
        </thead>
        
        <tbody>    
            <% @tasks.each do |task| %>
                <% if task.status == false %> 
                <tr>
                    <td><%= task.title %></td> 
                    <td><%= link_to 'Edit', edit_task_path(task) %></td>
                    <td><%= button_to 'Done', done_url(task) %></td>
                    <td><%= button_to 'Delete', task_path(task), method: :delete %></td>
                    <td><%= task.user.username %></td>
                    
                </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
    <br/>

    <table>
        <thead>
        <tr>
            <th>Completed Tasks</th>
        </tr>
        </thead>    

        <tbody>  
            <% @tasks.each do |task| %>
                <% if task.status == true %> 
                <tr>
                    <td><%= task.title %></td>
                    <td><%= link_to 'Edit', edit_task_path(task) %></td>
                    <td><%= button_to 'Undo', undo_url(task) %></td>
                    <td><%= button_to 'Delete', task_path(task), method: :delete %></td>
                    <td><%= task.user.username %></td>
                </tr>    
                <% end %>
            <% end %>
        </tbody>        
    </table>

    <br/>
    <p><%= link_to 'New Task', new_task_url(@task) %> </p>

</div>